@tailwind base;
@tailwind components;
@tailwind utilities;

/* Azul Safira
#083968
CMYK: 92,45,0,59
RGB: 8,57,104

Verde Keppel
#56AE9E
CMYK: 51,0,9,32
RGB: 86,174,158

Tangaroa
#121F2B
CMYK: 58,28,0,83
RGB: 18,31,43

Branco Lavanda

#EAF5FC
CMYK: 7,3,0,1
RGB: 234,245,252 */

@layer base {
    :root {
        --tangaroa: #121f2b;
        --saphire-blue: #083968;
        --keppel-green: #56ae9e;
        --lavender-white: #eaf5fc;
        --light-font-color: #eaf5fc;
        --dark-font-color: #121f2b;
    }
}

@layer base {
    body {
        @apply antialiased bg-tangaroa text-light-font-color;
    }
}
